<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h2>
    Welcome to {{title}}!
  </h2>
</div>

<div class="calendar-container">
    <div class="row mt-4">
        <div class="col-md-4 text-left">
        </div>
        <div class="col-md-4 text-center">
            <h3 class="mt-0">{{ viewDate | calendarSchedulerDate:(view + 'ViewTitle'):locale:weekStartsOn:excludeDays:viewDays:startsWithToday }}</h3>
            <select #viewDayOptionSelect1 class="form-select d-none d-md-block d-xl-none" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect1.value)">
                <option [value]="1">One Day</option>
                <option [value]="3">Three Days</option>
                <option [value]="7">One Week</option>
            </select>
        </div>
        <div class="col-md-4 text-right">
            <div class="row">
                <div class="col-6 d-md-none d-xl-flex col-xl-6 valign-center text-right">
                    <select #viewDayOptionSelect2 class="form-select m-1" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect2.value)">
                        <option [value]="1">One Day</option>
                        <option [value]="3">Three Days</option>
                        <option [value]="7">One Week</option>
                    </select>
                </div>
                <div class="col-6 col-md-12 col-xl-6">
                    <div class="btn-group m-1" role="group">
                        <button type="button" class="btn btn-primary"
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                [daysInWeek]="viewDays"
                                [excludeDays]="excludeDays"
                                [disabled]="prevBtnDisabled"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Precedente"
                                    class="material-icons md-18">keyboard_arrow_left</i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-light"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Oggi"
                                    class="material-icons md-18">today</i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                [daysInWeek]="viewDays"
                                [excludeDays]="excludeDays"
                                [disabled]="nextBtnDisabled"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Successivo"
                                    class="material-icons md-18">keyboard_arrow_right</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <br>
  <div [ngSwitch]="view" class="row mt-4">
        <div class="col-md-4">
            <mat-calendar [(selected)]="viewDate"></mat-calendar>
        </div>
        <div class="col-md-8">
            <board-dnd></board-dnd>
        </div>
        
    </div>
</div>